{% extends './layout/base.html' %}

{% block appJs %}
  <script src="js/appAdmin.js"></script>
{% endblock appJs %}

{% block app %}empreendaAppAdmin{% endblock app %}

{% block content %}
  <div class="content" layout="column" layout-fill>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <span>EMPREENDA - Administração</span>

        <span flex></span>

        <small class="md-subhead"><img src="img/logo.png" width="140" alt="Telefonica | VIVO"></small>
      </div>
    </md-toolbar>

    <!-- List of the teams -->
    <md-content class="list-content" ng-controller="ListController" layout-padding>
      <div data-ng-show="loader" layout="row" layout-align="space-around">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
      </div>

      <div data-ng-hide="loader" class="mbb" data-ng-repeat="team in teams">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-fab md-mini md-accent mr" aria-label="Colocação">
              <span>{[{ $index + 1 }]}°</span>
            </md-button>

            <span>{[{ team.team.name }]}</span>

            <span flex></span>

            <small class="md-subhead">{[{ team.points }]} pontos</small>
          </div>
        </md-toolbar>
        <md-whiteframe class="md-whiteframe-z2 points-content" layout-padding layout layout-align="center center">
          <span>Originalidade: <strong>{[{ team.originality }]}</strong></span>
          <span>Apresentação: <strong>{[{ team.presentation }]}</strong></span>
          <span>Potencial: <strong>{[{ team.potential }]}</strong></span>
          <span>Viabilidade: <strong>{[{ team.viability }]}</strong></span>
          <span>Apelo: <strong>{[{ team.appeal }]}</strong></span>
          <span>Aderência: <strong>{[{ team.adherence }]}</strong></span>
        </md-whiteframe>
      </div>
    </md-content>
  </div>
{% endblock content %}

