{% extends './layout/base.html' %}

{% block content %}
  <div class="content" layout="column" layout-fill>
    <md-toolbar class="md-hue-2" data-ng-controller="HeaderController">
      <div class="md-toolbar-tools">
        <span>EMPREENDA - </span>
        <md-button ng-click="logout($event)" aria-label="{{ user.name }}">
          {{ user.name }}
        </md-button>

        <span flex></span>

        <small class="md-subhead"><img src="img/logo.png" width="140" alt="Telefonica | VIVO"></small>
      </div>
    </md-toolbar>


    <div data-ng-view></div>

  </div>
{% endblock content %}

{% block extra %}
  {% include "./team-list.html" %}
  {% include "./vote.html" %}
{% endblock extra %}

