{% extends './layout/base.html' %}

{% block content %}
  <div class="content" layout="column" layout-fill>
    <md-toolbar class="md-hue-2" data-ng-controller="HeaderController">
      <div class="md-toolbar-tools">
        <span>EMPREENDA - </span>
        <md-button ng-click="logout($event)" aria-label="{{ user.name }}">
          {{ user.name }}
        </md-button>

        <span flex></span>

        <small class="md-subhead"><img src="img/logo.png" width="140" alt="Telefonica | VIVO"></small>
      </div>
    </md-toolbar>

    <!-- List of the teams -->
    <md-content class="list-content" data-ng-controller="ListController" layout-padding>
      <div data-ng-show="loader" layout="row" layout-align="space-around">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
      </div>

      <md-toolbar data-ng-hide="loader" class="mb" data-ng-repeat="team in teams">
        <div class="md-toolbar-tools">
          <span>
            <strong>{[{ team.name }]} </strong>
            <small data-ng-if="calculateTotal(team.votes)"> - {[{ calculateTotal(team.votes) }]} ponto<span data-ng-if="calculateTotal(team.votes) > 1">s</span></small>
          </span>
          <span flex></span>

          <md-button class="md-raised" data-ng-click="openDialog(team)">Votar</md-button>
        </div>
      </md-toolbar>
    </md-content>
  </div>
{% endblock content %}

{% block extra %}
  {% include "./dialog-vote.html" %}
{% endblock extra %}
