.md-button.md-default-theme.md-accent.md-fab.preferred {
  background-color: rgb(255, 168, 0);
}

.dialog-title {
  margin-left: 20px;
}

.dialog-subtitle {
  margin-right: 20px;
}

.dialog-content {
  padding: 20px 40px;
  overflow: auto;
}

.app-content {
  padding: 30px 60px;
}

.vote-content {
  margin-bottom: 90px;
}

.login-content {
  padding: 30px 22%;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
}

md-backdrop.md-opaque.md-default-theme {
  background-color: rgba(255, 255, 255, .6);
}

.points-content span {
  padding: 10px 12px;
}

.mt {
  margin-top: 20px;
}

.mb {
  margin-bottom: 5px;
}

.mbb {
  margin-bottom: 10px;
}

.mr {
  margin-right: 10px;
}
